<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="%HOME%\python\python.exe"
                  arguments="%HOME%\site\wwwroot\runserver.py"
                  stdoutLogEnabled="true"
                  stdoutLogFile="%HOME%\LogFiles\python.log"
                  startupTimeLimit="60">
      <environmentVariables>
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
        <environmentVariable name="PYTHONPATH" value="%HOME%\site\wwwroot" />
        <environmentVariable name="FLASK_ENV" value="production" />
        <environmentVariable name="WEBSITE_HOSTNAME" value="%WEBSITE_HOSTNAME%" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration> 